@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    .container form{
        /*TODO needs implementation*/
        background: azure;
        border: 1px solid black;
    }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
    .container form button{
        background: none;
        border: none;

    }

}


h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

@media (max-width: 600px) { {
    h1{
        font-size: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1{
        font-size: 5rem;
    }
}
@media (min-width: 1025px) {
    h1{
        font-size: 10rem;
    }
}
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}
.container p{
    margin-top: 1rem;
}
header{
    margin: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search{
    flex: 1;
    outline-color: navy;
}
.search form:focus-within{
    background-color: lightgray;
    border: 1px solid white;
    color: white;

}
.search form input:focus{
    color: white;
}
nav .search form{
    flex-direction: row;
    justify-content: center;
    background: azure;
    align-items: center;
    width: calc(100% - 20px);
    display: flex;
    border-radius: 30px;
}
nav .search form input{
    text-align: center;
    background: none;
    resize: none;
    border: none;
    margin-top: 0.5rem;
    flex: 1;
    font-size: large;
    cursor: text;
    outline: none;
}
.container form{
    padding-top: 1rem;
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
}
.container form button{
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    border: none;
    background: none;
}
.container form button:hover{
    /*TODO implement*/
}
.container form button img{
    height: 100%;
    width: 100%;

}
.container form textarea{
    background: none;
    font-size: large;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 90%;
    width: 99%;
    margin: auto 0;
    text-align: center;
    border: none;
    resize: none;
    cursor: text;
    outline: none;
}
.buttons{
    display: flex;
    flex:0;
}
.buttons button{
    background: none;
    border: none;

}
.controls button {
    background: none;
    border: none;
}
.container{
    margin-top: 0;
    height: 90vh;
    width: 99vw;
}
section webview {
    width: 100dvw;
    height:90dvh;
    border: none;
    padding: 0em 0;
    margin-top: 1%;
    border-radius: 10px;
}